:root{
    --bg-color:#FFFFFF;
    --hero-and-footer-bg-color:#2E2F42;
    --setion-bg-color:#F4F4FD;
    --color-text-color:#2E2F42;
    --seconari-text-color:#434455;
    --hero-title-and-button-color:#FFFFFF;
    --portfolio-buuton-color:#4D5AE5;
    --portfolio-buuton-bg-color:#F4F4FD;
    --portfolio-buuton-hover-color:#FFFFFF;
    --portfolio-buuton-bg-hover-color:#404BBF;
    --footer-text-color:#E7E9FC;
    --logo-color:#4D5AE5;
    --logo-heder-color:#2E2F42;
    --logo-footer-color:#F4F4FD;
}
*{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}
a{
    text-decoration: none;}

body{
    background-color:var(--bg-color);
    font-family: 'Raleway', sans-serif;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
    
     color:var(--color-text-color) ;
     
}
button{
    cursor:pointer;
  }
  ul{
    list-style-type: none;
  }
  .heder_conteiner{
     margin: 0px 136px;
     padding: 0 20px;
    display: flex;
    
  }
  .nav{
    display: flex;
  }
  .logo1{
    display: block;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 0;
margin-right: 76px; 
  }
  .logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    color:var(--logo-color);
    line-height: 1.33;
    letter-spacing: 0.03em;
    
  }
  .logo2{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    color:var(--logo-heder-color);
    line-height: 1.33;
    letter-spacing: 0.03em;


  }
  .menu-heder{
    display: flex;
}
.menu__item:not(:last-child){
 margin-right: 40px;
}
  .menu-heder .link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .link:not(:last-child){
    margin-right: 40px;
  }

  .link:hover,
  :focus{
    color: var(--portfolio-buuton-bg-hover-color);
    border: var(--portfolio-buuton-bg-hover-color);
    border-radius: 2px;
 
  }
  .adres{
    display: flex;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--seconari-text-color) ;
    
}
.adres__item{
    display: inline-block;
    

}
.meil{
    display: block;
    padding-top: 24px;
padding-bottom: 24px;
margin-right: 40px;
margin-left: 332px;

}
.tel{
    display: block;
    padding-top: 24px;
padding-bottom: 24px;
}
    .meil:hover,
    :focus{
        color: var(--portfolio-buuton-bg-hover-color);
    }
    
        .line{
            position: absolute;
          width: 1440px;
          height: 0px;
          left: 0px;
          top: 72px;


          background-color: var(--bg-color);
          border: 1px solid var(--footer-text-color);}
    
    .hero{
        background-color: var(--hero-and-footer-bg-color);
    }
    .hero-title {
        display: inline-block;
       margin:  188px  466px 48px;
        min-width: 496px;
        text-align: center;
      

        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--hero-title-and-button-color);
    }
    .buuton {
        margin: 0px 635px 188px ;
        padding: 16px 32px;
        min-width: 176px; ;
        box-sizing: border-box;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--hero-title-and-button-color);
       background-color: var(--portfolio-buuton-color);
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px ;
         border-color: var(--logo-color);
    }
    .buuton:hover,
    :focus{
        background-color: var(--portfolio-buuton-bg-hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;}


        .advantages {
            display: flex;
            margin: 120px 156px;
           max-width: 1128px;
        }

        .advantages__item:not(:last-child){
         margin-right: 24px;
         min-width: 264px;

        }
         
        
        .advantages__title {
             text-align: left;
             margin-bottom: 8px; ;

            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--color-text-color);

        }
        .advantages__text {
            text-align: left;

            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--seconari-text-color);
         
        }
        .what {
            margin: 0px 156px 120px;
            max-width: 1128px;


        }
        .what__title {
            margin-bottom: 72px;
            text-align: center;

            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: var(--color-text-color);
        }
        .what__list {
            display: flex;
        }
        .what__item {
            display: block;
            
        }
        .what__item:not(:last-child){
            margin-right: 24px;
        }
        .what__imeg {
            box-sizing: border-box;
            border: 1px solid #E7E9FC;
            background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
        }
       
        .team {
            background-color: var(--setion-bg-color);
            
           
            
        }
        .team__title {
            padding-top: 120px;
            text-align: center;
            
            
            font-weight: 700;
            font-size: 36px;
        }
        .team__list {
            display: flex;
            margin: 72px 149px 0px;
            padding-bottom: 120px;
            

            background-color: var(--setion-bg-color);

        }
        .team__item {
        }
        .team__item:not(:last-child){
            margin-right: 24px;
        }
        .team__photo {
display: block;
            background: url(man-with-laptop-presenting-something.jpg);
        }
        .team__sabtitle {
            padding: 32px 64.9px 8px;
            text-align: center;
            background-color: var(--bg-color);

            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--color-text-color);
        }
        .team__text {
            padding: 0px 6.9px 32px;
            text-align: center;
            background-color: var(--bg-color);


            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--seconari-text-color);

        }
        .footer {
            background-color: var(--hero-and-footer-bg-color);
        }
        .footer-conteiner{
            background-color: var(--hero-and-footer-bg-color);
            display: inline-block;
            margin:   100px 1020px 100px 156px;
            max-width: 264px;
            display: inline-block;

        }
        
        .footer-logo {
           

            font-weight: 800;
            font-size: 18px;
            line-height: 1.66;
            letter-spacing: 0.03em;
            color: var(--portfolio-buuton-bg-color);
        }
        .footer-text {
            font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: var(--footer-text-color);
          text-align: start;
        }
        
        .footer-logo1{
            margin-bottom: 16px; 
            text-align: left;
            display: block;
            
        
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 18px;
            color:var(--logo-color);
            line-height: 1.33;
            letter-spacing: 0.03em;
        }
        
/* portfolio */
.menu{
display: flex;
margin: 96px 422px 72px;

}
.menu__itemp:not(:last-child){
margin-right: 24px;
}
.menu__buuton{
    padding: 12px 24px;
    

    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--portfolio-buuton-color);
background-color: var(--logo-footer-color);
border: 1px solid #E7E9FC;
border-radius: 4px;
}
.menu__buuton:hover,
:focus{
    color: var(--bg-color);
    background-color: var(--portfolio-buuton-bg-hover-color);

}

.porfolio {
    display: flex;
    flex-wrap: wrap;
   
   
 
}
.portfolio__conteiner{
    margin: 0px 148px 120px;
max-width: 1128px;}
   
   
    .porfolio__item:not(:nth-child(3n+3)){
        margin-right: 24px;
    }
    .porfolio__item:not(:nth-last-child(-n + 3)){
       margin-bottom: 48px;
        
    }
    .porfolio__item{
        height: 420px;
        max-width: 360px;
   
       
    }
    .border{
        border: 1px solid var(--footer-text-color);
    }
.porfolio__photo {
    display: block;
    
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(4074365.jpg);

}
.portfolio__title {
    padding: 32px 52px 8px 16px;
    


    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.portfolio__text {
   
    padding: 0px 269px 32px 16px;
    text-align: left;
    display: inline-block;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--seconari-text-color);
}




